body{
  background-color: white;
}
.screen{
  position: relative;
  overflow: hidden;
}
nav{
  border: solid white;
  width: 100%;
  text-align: center;
  font-family: 'Nanum Gothic',helvetica, sans-serif;
  background-color: white;
  padding-bottom: 0;
  text-align: right;
  margin: 0;
  position: fixed;
  padding-top: 10px;
  height: 45px;
}

nav li {
  display: inline;
  list-style: none;
  font-size: 130%;
  vertical-align: middle;
}
nav li a{
  color: gray;
  padding: 0px 16px;
  text-decoration: none;
}
.TEST{
  position: absolute;
  left: 549px;
  top: 490px;
  z-index: 2;
  color: white;
  padding: 10px 60px;
  border: solid white;
  text-decoration: none;
  font-weight: bold;
}
.imag{
  height: 580px;
}
img.logo{
  width: 100px;
  padding-left: 0;
  position: absolute;
  left: 20px;
  top: 15px;
  z-index: 2;
}
