body{
  background-color: white;
}
.screen{
  position: relative;
  overflow: hidden;
}
.top{
  position: absolute;
  bottom: 150%;
  color: #fff;
  font-size: 20px;
  font-weight: 900;
  z-index: 2;
  transition: all .35s;
}
.bottom{
  position: absolute;
  top: 150%;
  color: #fff;
  font-size: 10px;
  z-index: 2;
  transition: all .35s;
}
.link{
  position: absolute;
  left: 100px;
  top: 580px;
  z-index: 2;
  color: white;
  padding: 10px 60px;
}
a:hover .top{
  bottom: 52%;
}
a:hover .bottom{
  top: 52%;
}
a .screen::after{
  content:'';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  z-index: 1;
  opacity: 0;
  transition: all .35s;
}
a:hover .screen::after{
  opacity: 1;
}
.name{
  font-family: 'Nanum Gothic',helvetica, sans-serif;
  text-align: center;
}
.part{
  font-family: 'Nanum Gothic',helvetica, sans-serif;
  text-align: center;
  font-size: 10px;
  color: gray;
}
td{
  width: 200px;
}
.contents{
  margin-top: 20px;
}
header{
  margin-top: 50px;
}
table{
  margin: auto auto;
}

h1{
  text-align: center;
  color: navy;
}

nav{
  border: solid white;
  width: 100%;
  text-align: center;
  font-family: 'Nanum Gothic',helvetica, sans-serif;
  background-color: white;
  padding-bottom: 0;
  text-align: right;
  margin: 0;
  position: fixed; top: 0;
  padding-top: 10px;
  height: 45px;
  z-index: 10;
}

nav li {
  list-style: none;
  display: inline;
  font-size: 130%;
  vertical-align: middle;
}
nav li a{
  color: gray;
  padding: 0px 16px;
  text-decoration: none;
}
ul{
  padding-left: 0;
  margin: 0;
}
.TEST{
  position: absolute;
  left: 549px;
  top: 480px;
  z-index: 2;
  color: white;
  padding: 10px 60px;
  border: solid white;
  text-decoration: none;
  font-weight: bold;
}
.contact{
  width: 100%;
}
.servicespic{
  width: 320px;
  height: 420px;
}
.imag{
  height: 570px;
}
.aboutafmstext{
  width: 800px;
  margin: auto auto;
}
.aboutafmstext li{
  font-weight: bold;
  font-family: 'Nanum Gothic',helvetica, sans-serif;
}
.aboutafmstext p{
  color: #353232;
}
table img{
  width: 200px;
  height: 200px;
}
td{
  padding-left: 5px;
  padding-right: 5px;
}
.TEST2{
  position: absolute;
  left:1200px;
  top: 40px;
  z-index: 2;
  color: black;
  padding: 10px 40px;
  border: solid black;
  text-decoration: none;
  font-weight: bold;
}
.award{
  width: 900px;
  margin-left: 220px;
}
.client img{
  width: 400px;
  height: 400px;
}
.newpage{
  margin-top: 30px;
  margin-left: 20px;
}
footer{
  text-align: center;
  font-weight: bold;
  border: solid white;
  padding-top: 40px;
  padding-bottom: 20px;
  color: white;
  font-family: 'Nanum Gothic',helvetica, sans-serif;
  background-color: navy;
}
nav.nav2{
  position: absolute;
  font-family: 'Nanum Gothic',helvetica, sans-serif;
  height: 60px;
  top: 61px;
  z-index: 2;
  padding: 0;
  text-align: center;
  border: 0;
}
.nav2 a{
  text-decoration: none;
}
.nav2 table{
  margin: 0;
}
.nav2 table td{
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.nav2 table p{
  font-family: 'Nanum Gothic',helvetica, sans-serif;
  text-decoration: none;
  color: gray;
}
.banner1 {
  width: 1350px;
  margin-top: 60px;
}
.aboutafmstext{
  margin-top: 60px;
}

nav.nav1{
  border-bottom: solid gray;
  border-width: thin;
}
img.logo{
  width: 100px;
  padding-left: 0;
  position: absolute;
  left: 20px;
  top: 15px;
  z-index: 2;
}
